<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>about us</title>
  </head>
  <body>
    <header>
      <img src="" alt="" />
      <nav>
        <ul>
          <li>
            <a href="/">menu</a>
          </li>
          <li>
            <a href="/shop">shop</a>
          </li>
          <li>
            <a href="/about-us">about us</a>
          </li>
          <li>
            <a href="/contact-us">contact us</a>
          </li>
        </ul>
      </nav>
    </header>

    <main><p>about us</p></main>
  </body>
</html>
